<div class="top-bar">
	<div class="top-bar-left">
		<ul class="menu">
			<li class="menu-text"><a href="/"><img src="http://datacore:9091/transmission/web/images/favicon.png" /></a></li>
			<li><a href="#" data-open="add-modal"><i class="material-icons">add_circle_outline</i></a></li>
			<li><a href="#"><i class="material-icons">play_circle_outline</i></a></li>
			<li><a href="#"><i class="material-icons">pause_circle_outline</i></a></li>
		</ul>
	</div>
	<div class="top-bar-right">
		<ul class="menu">
			<li><input type="search" placeholder="Search"></li>
			<li><button type="button" class="button">Search</button></li>
		</ul>
	</div>
</div>
