@import "foundation";

article {
	&.torrent {
		padding: 1em;
		border-bottom: 1px solid grey;
	}

	&.success {
		background-color: #e1faea;
	}

	//&.success:hover {
	//	background: #22bb5b;
	//	color: #fff;
	//}

	&.alert {
		background-color: #fce6e2;
	}

	&.running {
		background-color: #cee3f6
	}
}
