<div class="clearfix">
	<!--
	<% if(error) { %>
	<div class="float-left" style="padding-right: 0.5em; padding-top: 0.2em;">
		<i class="material-icons" style="color: red;">error_outline</i>
	</div>
	<% } %>
	-->
	<h5 class="float-left"><%= name %></h5>
	<div class="float-right">
		<a href="#torrent/<%= id %>/resume"><i class="material-icons">play_circle_outline</i></a>
		<a href="#torrent/<%= id %>/remove"><i class="material-icons">remove_circle_outline</i></a>
		<a href="#torrent/<%= id %>/delete"><i class="material-icons">delete</i></a>
		<a href="#"><i class="material-icons">more_vert</i></a>
	</div>
</div>
<div class="stats">
	<span>Size: <%= pretty_totalSize %></span><span>(<%= rateDownload %>)</span>
<% if(error) { %>
<div><em><%= errorString %></em></div>
<% } %>
